- var headerlist = ["Понравилось", "личный кабинет", "настройки"]
header.header_container
    ul.list_container
        .pageLogo
            li.title #[img(src='../../img/PORTEN.png' alt='')]
        .list_items
            each item in headerlist
                li= item
            li.bag #[img(src='../../img/bx_bx-cart (2).png' alt='')]
            li.search #[img(src='../../img/Vector.png' alt='')]