.section2 
    .item1
        h1 СЕЗОН 2020/21
        .imageWrapper 
            +image
            +image
            +image
    .item2 
        //- img(src="../../img/Rectangle 8.png", alt="")
        button  Каталог