//- mixin item(img,text2,text)
//-     img.image= img
//-     p.text2
//-     p.text= text 
mixin image
    .image_container 
        img(src="../../img/62050 1.png", alt="oclock")
        h3 Louis XVI ATHOS
        p 165 000 руб.
//- mixin content 
//-     .btn_container 
        block