.footer{
    display: flex;
    background-color:black;
    flex-direction: column;
    color:white;
    padding: 20px;
   

    .footertitle{
        text-align: center;
    }

    .footerContent{
        text-align: center;
       
    }
    
  
  
    
}