.section3{
    display: flex;

    .item4{
        color: white;
        background-color:black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        line-height: 55px;
     a{
        text-decoration: none;
        color:white;
        border:1px solid white;
        padding: 15px;
     }
      
     
     
        
    }
}